<h1>CRUD BACKEND DRIPRESTES NODEJS</h1>
<hr>
<a href='categorias'>Categorias</a> <br>
<a href='cliente'>Cliente</a> <br>
<a href='pagamento'>Pagamento</a> <br>
<a href='produto'>Produto</a> <br>
<a href='venda'>Venda</a> <br>
<a href='vendo_do_produto'>Venda do Produto</a> <br>
<a href='vendedor'>Vendedor</a> <br> <br> <hr>





<a href='inserir'>Inserir</a> <br>
<a href='deletar'>Deletar</a> <br>
<a href='select'>Select</a> <br>
<a href='update'>Update</a> <br>
