<form name='form1' action='/controllerUpdateCategorias' method='post'>

<h1>Alteração de Cliente</h1>

    <input type='text' name='categoria_id' id='categoria_id' placeholder='ID da Categoria' value='{{id}}'><br>
    <input type='text' name='nome_categoria' id='nome_categoria' placeholder='Nome da categoria' value='{{nome_cliente}}'><br>


    <input type='submit' name='btnSubmit' id='btnSubmit' value='Atualizar'><br>
   
</form>