<h1>Inserir Categoria</h1>

<form name='form1' action='../controllerFormCategoria' method='post'>

    <input type="text" name="categoria_id" id="categoria_id" placeholder="ID da Categoria" readonly ><br>
    <input type="text" name="nome_categoria" id="nome_categoria" placeholder="Nome da Categoria"><br>

    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar">

</form>