<h1>Inserir Produto</h1>

<form name='form3' action='../controllerFormProduto' method='post'>

    <input type="text" name="produto_id" id="produto_id" placeholder="ID do Produto"><br>
    <input type="text" name="nome_produto" id="nome_produto" placeholder="Nome do Produto"><br>
    <input type="text" name="preco_produto" id="preco_produto" placeholder="Preço do Produto"><br>
    <input type="text" name="categoria_id" id="categoria_id" placeholder="ID da Categoria"><br>
    <input type="text" name="vendedor_id" id="vendedor_id" placeholder="ID do Vendedor"><br>
    <input type="text" name="qtd_estoque" id="qtd_estoque" placeholder="Quantidade em estoque"><br>

    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar">

</form>