<h1>Inserir Pagamento</h1>

<form name='form3' action='../controllerFormPagamento' method='post'>

    <input type="text" name="id_pagamento" id="id_pagamento" placeholder="ID do Pagamento"><br>
    <input type="text" name="forma_pagamento" id="forma_pagamento" placeholder="Forma de Pagamento"><br>

    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar">

</form>