<h1>Inserir Cliente</h1>

<form name='form2' action='../controllerFormCliente' method='post'>

    <input type="text" name="cliente_id" id="cliente_id" placeholder="ID do Cliente"><br>
    <input type="text" name="nome_cliente" id="nome_cliente" placeholder="Nome do cliente"><br>
    <input type="text" name="endereco_cliente" id="endereco_cliente" placeholder="Endereço do cliente"><br>
    <input type="text" name="cel_cliente" id="cel_cliente" placeholder="Celular do cliente"><br>
    <input type="text" name="email_cliente" id="email_cliente" placeholder="Email do cliente"><br>
    <input type="text" name="senha_cliente" id="senha_cliente" placeholder="Senha do cliente"><br>
    <input type="text" name="datanasc_cliente" id="datanasc_cliente" placeholder="Data de Nascimento do cliente"><br>
    <input type="text" name="rg_cliente" id="rg_cliente" placeholder="RG do cliente"><br>
    <input type="text" name="cpf_cliente" id="cpf_cliente" placeholder="CPF do cliente"><br>
   

    <input type="submit" name="btnSubmit" id="btnSubmit" value="Adicionar">

</form>